<h1 class="page-title"><%= @survey.title %></h1>


<div class="row">
  <div class="large-6 large-offset-3 column">
    <p>Please fill out all the fields:</p>
    <% if @link %>
      <form action="/surveys/submit_link/<%= @link.unique_link %>" method="post">
    <% else %>
      <form action="/surveys/submit/<%= @survey.id %>" method="post">
    <% end %>
      <% @questions.each do |question| %>
        <label><%= question.prompt %></label>
        <% if question.variety == "multi" %>
          <select class="question_select" id="<%=question.id%>" name ="survey[<%=question.id%>]">
            <% question.options.each do |opt| %>
              <option value="#<%=opt.content%>"><%=opt.content%></option>
              <%end%>
          </select>
        <% else %>
          <input class="question_input" type="text" id ="<%=question.id%>" name ="survey[<%=question.id%>]" >
        <% end %>
      <% end %>
      <input type="submit" id="survey_submit" class="button" value="Send">
    </form>
  </div>
</div>
